<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Kontaktinformationen</h2>
    <div class="infos">
      <div class="email">
        <mat-icon
          aria-hidden="false"
          aria-label="mail-contact"
          fontIcon="mail_outlined"
          style="
            font-size: 70px;
            height: 100%;
            width: 100%;
            text-align: center;
            margin-right: -33%;
          "
        ></mat-icon>
        <p><strong>Mail</strong></p>
        <button
          id="email"
          (click)="copyEmail()"
          mat-button
          #email
          (click)="copyEmail()"
          (click)="openDialog()"
        >
          luka.tutek&#64;swisscom.com
        </button>
      </div>
    </div>
  </div>
</div>
<mat-icon
  id="myBtn"
  aria-hidden="false"
  aria-label="info button"
  fontIcon="info_outlined"
  style="height: 100%; width: 100%"
></mat-icon>
