<div class="title">
  <h2>Technologies & Skills</h2>
</div>
<div class="dropdown">
  <select [(ngModel)]="selectedCategory" (change)="onCategoryChange()">
    <option value="frontend">Frontend</option>
    <option value="backend">Backend</option>
    <option value="tools">Tools</option>
  </select>
</div>
<div class="technologies-container">
  <ng-container *ngFor="let technology of filteredTechnologies">
    <div class="technologyCards">
      <div class="technologyImage">
        <img [src]="technology.logo" alt="{{ technology.name }}" />
      </div>
      <div class="technologyContent">
        <h3>{{ technology.name }}</h3>
        <p>{{ technology.description }}</p>
      </div>
    </div>
  </ng-container>
</div>
