.title {
  text-align: center;
  margin-bottom: 20px;
}

.dropdown {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

select {
  background-color: #086adb;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
}

.technologies-container {
  display: flex;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.technologyCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  height: 300px;
  width: 300px;
}

.technologyImage img {
  width: 100px;
  height: 100px;
  object-fit: fill;
  margin-bottom: 10px;
}

.technologyContent {
  text-align: center;
}

h3 {
  margin-bottom: 5px;
}

p {
  color: #666;
}
