<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100..900&display=swap"
  rel="stylesheet"
/>
<div class="header-container">
  <div class="name">Luka Tutek</div>

  <div class="social">
    <a href="https://www.linkedin.com/in/luka-tutek-b14850279/">
      <img
        class="socialPhotos"
        src="../../../assets/linkedInLogo.png"
        alt="linkedin"
      />
    </a>
    <a href="https://intranet.swisscom.com/home/profile">
      <img
        class="socialPhotos"
        src="../../../assets/swisscomLogo.png"
        alt="intranet"
      />
    </a>
    <div class="contact">
      <app-contact></app-contact>
    </div>
  </div>
</div>
