body {
  font-family: Arial, sans-serif;
}

#helloMessage {
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.text {
  margin: 10px;
}
