<div class="intro-container">
  <div>
    <h1 #helloMessage id="helloMessage">{{ messages[currentLanguage] }}</h1>
  </div>
  <div class="text">
    <p>
      Mein Name ist Luka, ich bin 17 Jahre alt und im zweiten Lehrjahr meiner
      Ausbildung zum Applikationsentwickler. Ich liebe es, neue
      Herausforderungen anzunehmen und bin ständig bestrebt, mein Wissen zu
      erweitern. Diese Website ist meine Möglichkeit, meine bisherigen Projekte
      und Fähigkeiten zu präsentieren und dein Interesse zu wecken.
    </p>
  </div>
</div>
