<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<div class="title">
  <h2>Hobbies</h2>
  <p>Hover icons for details</p>
</div>
<div class="hobbie-container">
  <div class="hobbie-content">
    <i class="material-icons fitness">fitness_center</i>
    <span class="tooltip"
      >Das Fitnessstudio ist für mich ein Ort, an dem ich nach der Arbeit oder
      der Schule abschalten kann. Ich betrachte es als eine äusserst wichtige
      Freizeitaktivität.</span
    >
    <i class="material-icons explore">explore</i>
    <span class="tooltip"
      >Reisen ist meine Leidenschaft, und ich strebe danach, so viele Orte wie
      möglich zu besuchen und zu erkunden.</span
    >
    <i class="material-icons esport">sports_esports</i>
    <span class="tooltip"
      >In meiner Freizeit zu Hause spiele ich gerne Videospiele mit Freunden, um
      abzuschalten und Spass zu haben.
    </span>
    <i class="material-icons friends">diversity_3</i>
    <span class="tooltip"
      >An den Wochenenden treffe ich mich sehr gerne mit Freunden, um gemeinsam
      Zeit zu verbringen und schöne Momente zu erleben.
    </span>
  </div>
</div>
