<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<div class="title">
  <h2>Hobbies</h2>
  <p>Hover icons for details</p>
</div>
<div class="hobbie-container">
  <div class="hobbie-content">
    <i class="material-icons fitness">fitness_center</i>
    <span class="tooltip">Fitness Center</span>
    <i class="material-icons explore">explore</i>
    <span class="tooltip">Explore & Travel</span>
    <i class="material-icons esport">sports_esports</i>
    <span class="tooltip">Gaming</span>
    <i class="material-icons friends">diversity_3</i>
    <span class="tooltip">Friends</span>
  </div>
</div>
