<div class="title">
  <h2>Hobbies</h2>
</div>
<div class="hobbie-container">
  <div class="hobbie-content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, nisi
      quas nihil itaque ab a incidunt fuga nesciunt perspiciatis dolorum facere,
      fugiat iste accusantium sit placeat libero, id aliquam hic. Lorem ipsum,
      dolor sit amet consectetur adipisicing elit. Consequatur iste, impedit
      officiis vitae qui explicabo ducimus accusantium exercitationem corporis
      dicta facere voluptate odio deserunt ex reprehenderit optio nisi maiores
      atque.
    </p>
  </div>
</div>
