.title {
  text-align: center;
  margin: 10px;
}

.hobbie-container {
  display: flex;
  justify-content: center;
}

.hobbie-content {
  margin-top: 20px;
  margin-left: 90px;
  margin-right: 90px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
