<div class="project-container">
  <!-- 1st Project -->
  <div class="projectCard">
    <div class="projectCard__image">
      <img src="https://via.placeholder.com/150" alt="project image" />
    </div>
    <div class="projectCard__content">
      <h3>Project Title</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
        voluptate, quae, quidem, doloremque, dolorum quibusdam quas voluptatum
        quia autem tempora.
      </p>
      <a href="#">Read More</a>
    </div>
  </div>
  <!-- 2nd Project -->
  <div class="projectCard">
    <div class="projectCard__image">
      <img src="https://via.placeholder.com/150" alt="project image" />
    </div>
    <div class="projectCard__content">
      <h3>Project Title</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
        voluptate, quae, quidem, doloremque, dolorum quibusdam quas voluptatum
        quia autem tempora.
      </p>
      <a href="#">Read More</a>
    </div>
  </div>
  <!-- 3rd Project -->
  <div class="projectCard">
    <div class="projectCard__image">
      <img src="https://via.placeholder.com/150" alt="project image" />
    </div>
    <div class="projectCard__content">
      <h3>Project Title</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
        voluptate, quae, quidem, doloremque, dolorum quibusdam quas voluptatum
        quia autem tempora.
      </p>
      <a href="#">Read More</a>
    </div>
  </div>
  <!-- 4th Project -->
  <div class="projectCard">
    <div class="projectCard__image">
      <img src="https://via.placeholder.com/150" alt="project image" />
    </div>
    <div class="projectCard__content">
      <h3>Project Title</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
        voluptate, quae, quidem, doloremque, dolorum quibusdam quas voluptatum
        quia autem tempora.
      </p>
      <a href="#">Read More</a>
    </div>
  </div>
</div>
