<div class="title">
  <h1>Projekte</h1>
</div>
<div class="project-container">
  <!-- First Steps -->
  <div class="projectCard">
    <div class="projectCard__image">
      <img src="../../../assets/swisscomLogo.png" alt="project image" />
    </div>
    <div class="projectCard__content">
      <h3>NEX First Steps 2022</h3>
      <p>
        In meinen ersten beiden Wochen bei Swisscom verbrachte ich Zeit in den
        ersten Schritten von Team 31 und Team 14. Dort erhielt ich eine
        Einführung in die grundlegenden Abläufe und Strukturen des Unternehmens.
      </p>
      <p><strong>Duration:</strong> August 1, 2022 - August 12, 2022</p>
      <p>
        <span id="dots"></span
        ><span id="more-firstSteps">
          <p>
            <strong>Technologies & Skills:</strong>
            Grundlagen der Arbeit bei Swisscom.
          </p>
        </span>
      </p>
      <button (click)="toggleFirstSteps()" id="myBtn-firstSteps">
        Mehr lesen
      </button>
    </div>
  </div>

  <!-- 1st Project -->
  <div class="projectCard">
    <div class="projectCard__image">
      <img src="../../../assets/NexCCLogo.png" alt="project image" />
    </div>
    <div class="projectCard__content">
      <h3>Applikationsentwickler beim NexCC</h3>
      <p>
        Das NexCC-Projekt markierte meinen Einstieg bei Swisscom. Innerhalb von
        nur einem halben Jahr erwarb ich sämtliche grundlegenden Technologien
        und Fähigkeiten, die mir den Weg als Applikationsentwickler ebneten.
      </p>
      <p><strong>Duration:</strong> August 15, 2022 - Februar 1, 2023</p>
      <p>
        <span id="dots"></span
        ><span id="more-p1">
          <p>
            <strong>Technologies & Skills:</strong> Vue.js, JavaScript, HTML,
            CSS, TypeScript, MongoDB
          </p>
        </span>
      </p>
      <button (click)="toogleFirstProject()" id="myBtn-p1">Mehr lesen</button>
    </div>
  </div>

  <!-- 2nd Project -->
  <div class="projectCard">
    <div class="projectCard__image">
      <img src="../../../assets/Team-Anchroman.jpg.png" alt="project image" />
    </div>
    <div class="projectCard__content">
      <h3>Newsroom Team Anchorman - P2S</h3>
      <p>
        Im Team Anchorman arbeitete ich an Frontend und Backend der Applikation
        Newsroom. Dazu teile ich die Rolle als Product Owner mit Sabira
        Shanmugalingam. Durch diese Erfahrung habe ich gelernt in einem Team
        agil zu arbeiten und dieses zu führen.
      </p>
      <p><strong>Duration:</strong> February 2, 2023 - February 1, 2024</p>
      <p>
        <span id="dots"></span
        ><span id="more-p2">
          <p>
            <strong>Technologies & Skills:</strong> Angular, Python, MariaDB,
            Docker, Agile Team, Product Owner, SCSS, IAPC, Jira
          </p>
        </span>
      </p>
      <button (click)="toogleSecondProject()" id="myBtn-p2">Mehr lesen</button>
    </div>
  </div>

  <!-- 3rd Project -->
  <div class="projectCard">
    <div class="projectCard__image">
      <img src="../../../assets/appsteam_logo.jpeg" alt="project image" />
    </div>
    <div class="projectCard__content">
      <h3>Backend Entwickler im Apps Team</h3>
      <p>
        Im Apps-Team erwarb ich fundierte Kenntnisse im Backend-Bereich. Nach
        meinem Einstieg in NestJs und TypeScript war ich schon bald in der Lage,
        aktiv an der Entwicklung von Anwendungen mitzuwirken.
      </p>
      <p><strong>Duration:</strong> February 5, 2024 - August 2, 2024</p>
      <p>
        <span id="dots"></span
        ><span id="more-p3">
          <p>
            <strong>Technologies & Skills:</strong> NestJs, Git, Containers,
            TypeScript
          </p>
        </span>
      </p>
      <button (click)="toogleThirdProject()" id="myBtn-p3">Mehr lesen</button>
    </div>
  </div>
</div>
